html {
    display: table;
    margin: auto;
  }

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .bold{
    font-weight: bold;
  }
  .App {
    text-align: center;
  }
  .center{
    margin: 0 auto;
    text-align:center;
  }
  .footer{
    position:relative;
    bottom:0;
    left:50%;
    margin-left:-200px;
    width:400px;
  }
  .footer p{
      text-align:center;
  }