.App {
  text-align: center;
}
.legend {
	position: absolute;
	left: 12px;
	top: 12px;
	z-index: 1;
	font-size: 12px;
	line-height: 18px;
	font-weight: 300;
}
html {
  display: table;
  margin: auto;
}
.footer{
	position:fixed;
    bottom:0;
    left:50%;
    margin-left:-200px; /*negative half the width */
    width:400px;
}
.footer p{
	text-align:center;
}